body {
    background-color: #dadada;
    margin: 0px;
}

#titulo {
    text-align: center;
    
}

.alinhamento {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.quadrado {
  width: 400px; 
  height: 400px; 
  background-color: red; 
}


